<div class="snackoverflow-banner">
   <h1 class="snackoverflow-banner-h1">Yay!</h1>
   <img src="https://cdn.glitch.com/0e4d1ff3-5897-47c5-9711-d026c01539b8%2Fbddfd6e4434f42662b009295c9bab86e.gif?v=1573157191712" alt="404 image"/>
   <br/>
   <img src="/pac_burger_giphy.gif" /> 
</div>
